:root {
    font-family: BlinkMacSystemFont, PingFang SC, Microsoft YaHei, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, Arial, sans-serif;

    --background-color: black;

    --text-color-primary: white;
    --text-color-primary-rgb: 255, 255, 255;

    --text-color-secondary: #1e86dd;
    --text-color-secondary-rgb: 30, 134, 221;

    --color-primary: #1e86dd;
    --color-primary-rgb: 30, 134, 221;

    --color-secondary: white;
    --color-secondary-rgb: 255, 255, 255;

    --color-code: black;
    --color-code-rgb: 0, 0, 0;

    --radius-primary: 16px;
    --radius-secondary: 8px;
    --radius-switch: 9999px;

    --animation-sec: .25s;

    /* switch */
    --switch-width: 50px;
    --switch-height: 25px;
    
    background-color: var(--background-color);
    color: var(--text-color-primary);
}

* {
    padding: 0;
    margin: 0;
}

body, footer {
    display: block;
}

.container > *, footer > * {
    margin: 24px;
}

a {
    color: inherit;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* text */
h1 {
    font-size: x-large;
    font-weight: bold;
}

h2 {
    font-size: medium;
    font-weight: bold;
}

h3 {
    font-size: medium;
    font-weight: normal;
}

nav {
    margin: 0;
    padding: 24px;
    color: var(--text-color-primary);
}

.navbar {
    position: relative;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
}

.navbar * {
    display: inline-block
}

.navbar *:not(:first-child) {
    margin-left: 16px;
}

/* list */
.group {
    display: inline-block;
}

.group *:not(:first-child), .flex *:not(:first-child) {
    margin-left: 16px;
}

.flex, .list {
    display: flex;
}

.list {
    flex-direction: column;
}

.list *:not(:first-child) {
    margin-top: 16px;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

/* button */
button {
    border-color: transparent;
    border-radius: 1000px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--color-primary);
    color: var(--text-color-primary);
    cursor: pointer;
    transition: var(--animation-sec);
}

button:hover {
    color: var(--text-color-primary);
    -webkit-filter: drop-shadow(0 0 8px var(--color-primary));
    filter: drop-shadow(0 0 8px var(--color-primary));
    transition: var(--animation-sec);
}

button.secondary {
    border-color: var(--color-secondary);
    border-radius: 1000px;
    padding: 8px 16px;
    color: var(--color-secondary);
    -webkit-filter: none;
    filter: none;
    background-color: transparent;
}

button.secondary:hover {
    color: var(--text-color-secondary);
    background-color: var(--text-color-primary);
    transition: var(--animation-sec);
}

/* card */
.card {
    border: 2px solid;
    border-color: transparent;
    border-radius: var(--radius-primary);
    background-color: rgba(var(--color-secondary-rgb), 0.1);
    cursor: pointer;
    transition: var(--animation-sec);
}

.card:hover {
    border: 2px solid;
    border-color: rgba(var(--color-secondary-rgb), 0.1);
    transition: var(--animation-sec);
}

.card header {
    padding: 24px;
    position: relative;
    right: 0;
}

.card div {
    padding: 24px;
}

.card a {
    color: var(--text-color-primary);
    text-decoration: none;
    transition: var(--animation-sec);
}

.card a:hover {
    color: var(--text-color-secondary);
    transition: var(--animation-sec);
}

.card bold {
    position: absolute;
    right: 24px;
    top: 24px;
    margin-left: 40vw;
    text-align: right;
}

/* code */
code, pre {
    margin: 8px;
    margin-left: 0;
    padding: 8px;
    background-color: rgba(var(--color-code-rgb), 0.5);
    border-radius: var(--radius-secondary);
    font-family: monospace;
    cursor: default;
}

code .default, code-w {
    color: white;
}

code .element, code-e {
    color: #0091EA;
}

code .property-name, code-pn {
    color: #4FC3F7;
}

code .property, code-p {
    color: #FF8A65;
}

hr {
    border: 0;
    height: 1px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: rgba(var(--color-secondary-rgb), 0.25);
}

.us-n {
    user-select: none;
}

/* banner */
.banner {
    position: relative;
}

.image-container div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), black 90%);
}

/* switch */
switch {
    width: var(--switch-width);
    height: var(--switch-height);
}

#toggle-button{ 
    display: none; 
}

.button-label{
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
    background-color: rgba(var(--text-color-primary-rgb), 0.5);
    border-radius: var(--radius-switch);
    cursor: pointer;
    transition: 0.25s;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--switch-height);
    height: var(--switch-height);
    border-radius: 100%;
    background-color: var(--text-color-primary);
}

.button-label .circle{
    transition: 0.25s;
}

#toggle-button:checked + label.button-label .circle{
    left: var(--switch-height);
}

#toggle-button:checked + label.button-label{
    background-color: var(--color-primary);
}

/* title */
*[data-title] {
    position: relative;
    display: inline-block;
    border: 2px solid;
    border-color: transparent;
}
  
*[data-title]::after {
    content: attr(data-title);
    position: absolute;
    background-color: rgba(var(--color-secondary-rgb), 0.1);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    color: #fff;
    padding: 8px;
    border-color: rgba(var(--color-secondary-rgb), 0.25);
    border-radius: var(--radius-secondary);
    opacity: 0;
    transition: var(--animation-sec) ease;
    visibility: hidden;
}
  
*[data-title]:hover::after {
    visibility: visible;
    opacity: 1;
}

/* HTML native elements */
abbr, .abbr {
    cursor: help;
    text-decoration: none;
    border-bottom: 1px dotted white;
}

bold, b, strong, .bold, .b, .strong {
    font-weight: 900;
}

italic, i, .italic, .i {
    font-style: italic;
}

st, strikethrough, lt, linethrough, .st, .strikethrough, .lt, .linethrough {
    text-decoration:line-through;
}

overline, .ol, .overline {
    border-top: 1px solid white;
}

underline, .ul, .underline {
    border-bottom: 1px solid white;
}

/* list */
ul {
    color: white;
    list-style-type: none;
}

ul li {
    display: inline;
}

ul li:not(:last-child)::after {
    content: '\\';
    margin-left: 16px;
    margin-right: 16px;
    color: rgba(var(--text-color-primary-rgb), 0.25);
}

ul li:has(.card)::after {
    content: none;
}

/* ul flex */
ul.flex {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    margin-top: -16px;
    margin-left: -16px;
}

ul.flex li {
    margin-top: 16px;
}

ul.flex li:not(:last-child) {
    margin-left: 16px;
}

ul.flex *.card {
    margin: 0;
    padding: 16px;
}

/* i */
p i {
    display: inline-block;
    margin-left: 8px;
}

/* censord */
.censord {
    display: inline-block;
    background-color: white;
    color: white;
    transition: var(--animation-sec);
}

.censord:hover {
    color: black;
    transition: var(--animation-sec);
}

.censord::selection {
    color: white;
}

.fake-censord {
    display: inline-block;
    background-color: white;
    color: white;
}

.fake-censord::selection {
    color: white;
}